:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



.product-list {
  display: flex;
  flex-wrap: wrap;
 
}

img {
  max-width: 100%;
  height: auto;
}

.product-list__item {
  padding: 2%;
  flex: 1 16%;
}

.product-info {
  margin-top: auto;
  font-size: 1rem;
}



